################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Library
/.vs/LustraSimPrototype
/Temp
/obj/Debug
/Assets/AssetPacks/Gogo Casual Pack/Gogo Casual Free Modular Pack/FBX
/Assets/AssetPacks/Gogo Casual Pack/Gogo Casual Free Plants Pack/FBX
/Assets/AssetPacks/Gogo Casual Pack/Gogo Casual Free Plants Pack/Materials
/Assets/AssetPacks/Gogo Casual Pack/Gogo Casual Free Plants Pack/Prefabs
/Assets/AssetPacks/Gogo Casual Pack/Gogo Casual Free Plants Pack
/Assets/AssetPacks/Gogo Casual Pack/Materials
/Assets/AssetPacks/Gogo Casual Pack/Gogo Casual Free Modular Pack/Materials
/Assets/AssetPacks/Gogo Casual Pack/Gogo Casual Free Modular Pack/Prefabs
/Assets/AssetPacks/Gogo Casual Pack/Gogo Casual Free Modular Pack
/Assets/AssetPacks/Gogo Casual Pack/Gogo Casual Free Light Pack/FBX
/Assets/AssetPacks/Gogo Casual Pack/Gogo Casual Free Light Pack/Materials
/Assets/AssetPacks/Gogo Casual Pack/Gogo Casual Free Light Pack/Prefabs
/Assets/AssetPacks/Gogo Casual Pack/Gogo Casual Free Light Pack
/Assets/AssetPacks/Gogo Casual Pack
/Assets/AssetPacks/LowPolyBoy/FreeStylizedBedRoom/Models
/Assets/AssetPacks/LowPolyBoy/FreeStylizedBedRoom/Prefabs
/Assets/AssetPacks/LowPolyBoy/FreeStylizedBedRoom/Textures
/Assets/AssetPacks/LowPolyBoy/FreeStylizedBedRoom/Materials
/Assets/AssetPacks/LowPolyBoy/FreeStylizedBedRoom/DemoScene
/Assets/AssetPacks/LowPolyBoy/FreeStylizedBedRoom
/Assets/AssetPacks/LowPolyBoy
/Assets/ithappy/Furniture_FREE/Meshes
/Assets/ithappy/Furniture_FREE/Materials
/Assets/ithappy/Furniture_FREE/Prefabs
/Assets/ithappy/Furniture_FREE/Render_Pipeline_Convert
/Assets/ithappy/Furniture_FREE/Scenes
/Assets/ithappy/Furniture_FREE/Textures
/Assets/ithappy/Furniture_FREE
/Assets/Materials
